.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  min-height: 35em;
  margin-top: 4%;
  margin-bottom: 1%;
  padding: 3% 3% 1% 3%;
  border: 1px solid black;
  background-color: $secondary-background;
}

.article-headline {
  text-align: center;
  width: 80%;
  padding: 1%;
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: black;
  font-family: $playfair;

  span {
    width: 95%;
    height: 95%;

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

.pic-container {
  width: 40%;
  height: auto;
  margin-top: 2em;
}

.article-pic {
  width: 100%;
  height: 100%;
}

.article-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 75%;
  padding: 3% 2% 2% 2%;
  margin-top: 4%;
  margin-bottom: 2%;
  background-color: $emphasis-background;
  box-shadow: 1px 1px 1px 1px rgba(48, 35, 35, 0.255),
  1px 2px 2px 2px rgba(38, 34, 34, 0.385);
  font-family: Arial,
  Helvetica,
  sans-serif;

}

.nyt-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 2%;
}

.byline {
  font-size: 1.4em;
  font-style: italic;
  margin: 0.3em auto 0.8em auto;
}

.date-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  font-size: 1.3em;
}

.article-abstract {
  width: 85%;
  font-size: 1.6em;
  line-height: 1.25;
  text-align: center;
  margin: 1.5em auto 1.5em auto;
}

.tags-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  max-width: 70%;
  height: 35%;
  padding: 1%;
  margin-bottom: 1.5em;
  border: 1px solid black;
  font-size: 1em;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;

  span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1%;
    margin: 1% 1% 2% 1%;
  }
}

.topic {
  background-color: rgba(173, 247, 239, 0.851);
}

.location {
  background-color: rgba(249, 229, 191, 0.856);
}

@media screen and (max-width: 769px) {
  .article-container {
    margin-top: 5%;
    min-height: 43em;
    padding: 3%;
    width: 85%;
  }

  .article-headline {
    font-size: 1.4em;
    width: 95%;
  }

  .article-details {
    width: 90%;
    margin-bottom: 3%;
  }

  .nyt-sections {
    width: 90%;
  }

  .date-section {
    font-size: 1.1em;
  }

  .article-abstract {
    font-size: 1.3em;
    width: 90%;
  }

  .tags-section {
    max-width: 85%;
    font-size: 1em;
  }
}

@media screen and (max-width: 376px) {
  .article-container {
    margin-top: 5%;
    min-height: 25em;
    width: 90%;
  }

  .article-headline {
    font-size: 1.1em;
  }

  .pic-container {
    width: 50%;
    height: auto;
    margin-top: 1em;
  }

  .article-pic {
    width: 100%;
    height: 100%;
  }

  .article-details {
    width: 95%;
    margin-top: 6%;
    margin-bottom: 3%;
  }

  .nyt-sections {
    width: 90%;
    font-size: 0.7em;
  }

  .byline {
    font-size: 0.8em;
    font-style: italic;
    margin: 0.3em auto 0.8em auto;
  }

  .date-section {
    font-size: 0.7em;
  }

  .date-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .article-abstract {
    font-size: 0.8em;
    width: 90%;
  }

  .tags-section {
    max-width: 95%;
    padding: 0.7em;
    font-size: 0.6em;
  }
}