* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: rgb(237, 237, 248);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: 100%;
}

.app-header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 85%;
  height: 20%;
  min-height: 4.5em;
  margin-top: 0.5em;
  background-color: ghostwhite;
  font-size: 2.5em;
  box-shadow: 1px 1px 1px 1px rgba(48, 35, 35, 0.255),
  1px 2px 2px 2px rgba(38, 34, 34, 0.385);
}

.app-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-title {
  color: rgba(86, 105, 153, 0.849);
  font-family: 'Playfair Display SC', serif;
  text-shadow: 2px 2px 3px rgb(71, 61, 61);
  letter-spacing: 10px;
}

.home-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: none;
  padding: 3%;

  button {
    width: 80%;
    height: 25%;
    margin: auto 13% 10% auto;
    font-size: 0.3em;
  }
}